
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: beige;
}

.titulo-pagina {
    width: 600px;
    margin: 2rem auto;
    text-align: center;
    font-size: 2.2rem;
}

main {
    width: 600px;
     
}

    
